<div class="container">
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <mdb-card>
        <mdb-card-header class="info-color white-text text-center py-4">
          <h5>
            <strong>ورود</strong>
          </h5>
        </mdb-card-header>
          <mdb-card-body class="px-lg-5 pt-0">
            <div class="text-center" style="color: #757575;">
              <div class="md-form">
                <input type="email" id="materialLoginFormEmail" class="form-control" mdbInput [(ngModel)]="data.username">
                <label for="materialLoginFormEmail">آدرس ایمیل</label>
              </div>
              <div class="md-form">
                <input type="password" id="materialLoginFormPassword" class="form-control" mdbInput [(ngModel)]="data.password">
                <label for="materialLoginFormPassword">رمز عبور</label>
              </div>
              <button mdbBtn color="info" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect
                type="submit" (click)="loginForm()" >ورود</button>
              <p>ثبت نام نکرده اید؟
                <a [routerLink]="[ '/register']">ثبت نام کنید</a>
              </p>
            </div>
          </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>



