<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>لینک بازیابی</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>{{current_user}} عزیز</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p> شما با نام کاربری {{username}}  وارد شده اید</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>آدرس ایمیل شما نیز برابر: {{email}} است</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>توکن جدید شما برای تایید و وارد کردن در صفحه مربوطه: {{token}} است</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>برای ایجاد پسوردی جدید بر روی لینک زیر کلیک کنید.</p>
                <a href="{{reset_password_url}}">اینجا کلیک کنید</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr style="width: 100%; color: white; background-color: white; width: 2px;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>نرم افزار حسابداری تحت وب و رایگان جیب من</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>با احترام، ایمان ناصری</p>
                <a href="https://inaseri.ir/">https://inaseri.ir</a>
            </div>
        </div>
    </div>
</body>
</html>