<div class="container">
  <div class="row" dir="rtl" style="margin-top: 80px;">
    <div class="col-md-3">
      <button type="button" class="btn btn-primary" style="margin-top: 10px; width: 100%;">
        <i class="fas fa-flask"></i>
        انتخاب بازه زمانی:
      </button>
    </div>
    <div class="col-md-3">
      <dp-date-picker dir="rtl" mode="day" placeholder="تاریخ شروع" theme="dp-material" class="new-dp" style="margin-top: 10px;"></dp-date-picker>
    </div>
    <div class="col-md-3">
      <dp-date-picker dir="rtl" mode="day" placeholder="تاریخ پایان" theme="dp-material" class="new-dp" style="margin-top: 10px;"></dp-date-picker>
    </div>
    <div class="col-md-3">
      <button type="button" class="btn btn-primary" style="margin-top: 10px; width: 100%;">
        <i class="fas fa-filter"></i>
        ثبت بازه
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table id="tablePreview" class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
          <tr>
            <th>حذف/ویرایش</th>
            <th>رقم</th>
            <th>عنوان</th>
            <th>تاریخ</th>
            <th>حساب مبدا</th>
            <th>توضیحات</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of transactionsData">
            <td>
              <!--<a [routerLink]="[ '/changeTransaction', item.id]" class="btn btn-success px-3">-->
                <!--<i class="fas fa-edit"></i>-->
              <!--</a>-->
              <button (click)="delete(item)" class="btn btn-danger px-3">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
            <td>{{item.cash | number}}</td>
            <td>{{item.title}}</td>
            <td>{{item.date}}</td>
            <td>{{item.source}}</td>
            <td>{{item.desc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
