<div class="container">
  <div class="page-footer">
    <div class="row">
      <div class="colM col 3">
        <button type="button" class="btn btn-primary btn-rounded">Primary</button>
      </div>
      <div class="colM col 3">
        <button type="button" class="btn btn-default btn-rounded">Default</button>
      </div>
      <div class="colM col 3">
        <button type="button" class="btn btn-success btn-rounded">Success</button>
      </div>
      <div class="colM col 3">
        <button type="button" class="btn btn-secondary btn-rounded">Secondary</button>
      </div>
    </div>
  </div>
</div>
