/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'iran-sans';
  src: url('assets/fonts/Iranian-Sans.ttf') format("opentype");
}

body {
  font-family: iran-sans;
  font-size: 13px;
  background: #f1f1f1;
}

.dp-material {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
