<div class="container">
  <div class="row" style="margin-top: 20px;" *ngFor="let item of banksData">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card text-center">
          <div class="card-header">
            <i class="fas fa-home"></i>&nbsp; حساب
          </div>
          <div class="card-body">
            <p style="width: 100%; text-align: right;"> {{ item.name_bank }}</p>
            <p style="width: 100%; text-align: left;">{{item.cash_bank}}</p>
          </div>
          <div class="card-footer">
              <a [routerLink]="[ '/lIncomes/1']" class="btn btn-success px-3">
                <i class="fas fa-edit"></i>
              </a>
              <a [routerLink]="[ '/aIncome/1']" class="btn btn-danger px-3">
                <i class="fas fa-trash-alt"></i>
              </a>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
  </div>
</div>
<footer class="page-footer default-color font-weight-bold" style="position: fixed; bottom: 0px; width: 100%;">
  <div class="footer-copyright text-center py-3">
    <a [routerLink]="[ '/aBank']" class="btn btn-warning px-3">
      <i class="fas fa-plus-circle"></i>
    </a>
  </div>
</footer>
